// Variables
$helpfulGrayDark: #353C3C;
$helpfulGrayMed: #B4B5B4;
$helpfulGrayLight: #D5D8D7;
$helpfulOffWhite: #FEFFFE;

// App Styles
body {
  font-family: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
}

header { 
  grid-area: navbar;
  background-color: $helpfulGrayDark;
  display: flex;
  align-items: center;
  padding: 0.75em 1em;
}

aside {
  grid-area: sidebar;
  background-color: $helpfulGrayLight;
  border-right: 1px solid $helpfulGrayMed;
  border-left: 1px solid $helpfulGrayMed;
  box-shadow: 2px 2px 4px $helpfulGrayLight;
}

main {
  grid-area: main;
  background-color: $helpfulOffWhite;
}

button {
  padding: 1em;
  display: block;
  margin: 4em auto;
  background-color: $helpfulOffWhite;
  border: 2px solid $helpfulGrayDark;
  border-radius: 5px;
  text-decoration: none;
  &:hover, &:active {
    border-color: $helpfulGrayMed;
  };
  &:focus {
    outline: 0;
  }
}

nav {
  li {
    display: inline-block;
    padding: auto 1em;
  }
}

.App {
  min-height:100vh;
  min-width: 100vw;
  display: grid;
  grid-template-columns: 18em 1fr;
  grid-template-rows: 4em 1fr;
  grid-template-areas: "navbar navbar"
                       "sidebar main";
}

.logo {
  height: 100%
}

