.CatalogContainer {
  padding: 4em 12em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 4em;
  
}

.SwatchContainer {
  background-color: $helpfulOffWhite;
  border:1px solid $helpfulGrayDark;
  border-radius: 5px;
  p {
    padding: 0 1em;
  }
}

.swatch {
  border-radius: 5px 5px 0 0;
  height: 8em;
  padding: 1em;
}