.CatalogContainer {
  padding: 4em 12em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 4em;
}

.SwatchContainer {
  height: 100%;
  background-color: $helpfulOffWhite;
  border:1px solid $helpfulGrayLight;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 1px $helpfulGrayLight;
  display: grid;
  grid-auto-rows: 8fr 2fr;
}

.SwatchColorBlock {
  border-radius: 5px 5px 0 0;
  min-height: 4em;
  max-height: 100%; 
  padding: 1em;
}

.SwatchTextBlock {
  display: flex;
  align-items: center;
  p {
    font-size: inherit;
    padding: 0 1em;
  }
}