.CatalogContainer {
  padding: 4em 12em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 4em;
}

.PageNumberContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.PageNumbers {
  p {
    display: inline-block;
    padding: 1em;
  }
}

.ActivePage {
  font-weight: bold;
  text-decoration: underline;
}