#DetailContainer {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 10em;
  grid-template-areas: "DetailSwatch"
                       "ShadeSwatches";
}

#DetailSwatch {
  padding: 4em 10em;
}

#ShadeSwatches {
  padding: 4em 10em;
  display: grid;
  grid-template-columns: repeat(4, 1fr)
}
