#DetailContainer {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr .2fr 10em;
  grid-template-areas: "DetailSwatch"
                       "ShadeSwatches"
                       "ClearButton";
}

#DetailSwatch {
  grid-area: DetailSwatch;
  padding: 4em 10em 2em 10em;
  p {
    font-size: 1.5rem;
  };
  .SwatchContainer {
    border-color: $helpfulGrayDark;
    box-shadow: unset;
  }
}

#ShadeSwatches {
  grid-area: ShadeSwatches;
  padding: 2em 10em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4em;
}

#ClearButton {
  grid-area: "ClearButton";
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    width: 33%;
  }
}
